:root {
    --primary-black-color: #2e2f42;
    --hero-black-color: #2f303a;
    --hero-grey-color: rgba(46, 47, 66, 0.7);
    --primary-text-color: #2e2f42;
    --primary-button-color:#FFC107;
    --title-text-color: #212121;
    --accent-color: #045c5adb;
    --active-button-color: darkcyan;
    --primary-white-color: #ffffff;
    --background-modal-color:#f1ebd9;
    --background-under-icon-darkwhite: #f4f4fd;
    --primary-grey-color: #434455;
    --solid-white-color: #eeeeee;
    --border-white-color: #ececec;
    --primary-icon-color: #8e8f99;
    --text-color-footer: #e7e9fc;
    --contacts-text-color: #434455;
    --text-color-placeholder: rgba(117, 117, 117, 0.5);
    --card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    --card-shadow-portfolio: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --shadow-form-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --card-projects-portfolio: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --mobile-menu-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    --project-item-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-overlay-color: rgba(33, 150, 243, 0.9);
    --box-overlay-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --border-form-order: 1px solid rgba(33, 33, 33, 0.2);
    --transition-speed: 800ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  body {
    font-family: Roboto, sans-serif, Raleway;
    /* background-color: var(--border-white-color);
    color: var(--primary-black-color); */
    /* letter-spacing: 0.3em; */
    font-size: 14px;
    font-style: normal;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  ul,
  li,
  a,
  p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  
  img {
    display: block;
  }
@media screen and (min-width: 768px) {
    /* прячем */
    .mobile-menu-open,
    .mobile-menu{
    display:none;
    }
    main{
        margin-top: 65px;
    }
    .container-header{
        justify-content: space-around;
        padding: 0;
    }
    .services{
        display:flex; 
        /* flex-direction: row; */
        flex-wrap: wrap;
        align-content: center;
        padding-right: 12%;
        gap: 60px;
    }
    .services li{
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.02em;
        /* padding-top: 24px;
        padding-bottom: 24px; */
    }
    .services .tel{
        color: var(--primary-button-color);
        text-decoration: none;
        display: none;
    }

/* ---------------------------------Головна---------------- */
.hero {
    position: relative;
    background-repeat: no-repeat;
    height: 450px;
    max-width: 768px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.8), rgba(46, 47, 66, 0.4)), url(../../images/background-img/interior\ 768x450@1tab.jpg);
    }
.hero-container {
    top: 20%; /* Размещение блока на вертикальном центре секции */
    left:20%
      }
      .hero h2 {
        line-height: 2;
      }
/* ---------------Наші роботи------portfolio------ */
.background-portfolio{
    max-width: 650px;
       margin:0 auto;
}
/* ------benefits----Чому ми?- */
.qualities {
    padding-left: 10px;
    padding-right: 10px;
}

.double-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap:20px; */
}
.reasons-item{
    width: calc((100% - 20px - 1%) / 2);
}
/* --------Footer---------- */

.footer-container {
  max-width: 1400px;
    padding: 0px 15px 0px 15px;
}
/* .footer-tel  {
display: flex;
    gap: 70px;
    align-items: flex-end;  
  margin-top: 25px;
}  */

.footer-tel>li:not(:last-child){
  margin-bottom: 15px;
}
.tel{
    margin-top: 0;
   
}
.tel>a:hover,
.google-link:hover,
.tel>a:focus{
color:var(--primary-button-color);
/* font-size: 20px;
font-weight: bold; */
/* line-height: 1.80; */
}
.address{
    margin-bottom: 0;
}
.menu-social-list.footer-menu{
    display: flex;
    gap: 12px;
    margin-top: 30px;
    /* padding-right: 4%; */
 }
 .callback-footer.service{
    display: block;
}

.author{
  text-align:right;
  padding-right: 3%;

}
 /* -----------Services-------Послуги--- */
 .service-list{
    max-width: 768px;
 }
 .service-card{
    display: flex;
    align-items: center;
    gap:15px;
    max-width: 768px;
   }
   .service-title>p {
           font-size: 20px;
        
  }
   .service-img img {
    width:300px;
}
   .service-title{
    padding: 20px;
    width: 400px;
  }
  .service-list-title{
    margin-top: 30px;
    margin-bottom: 0;
  }
  .benefits-title,
  .portfolio-title,
  .service-list-title,
  .aboutus-title{
      text-align: center;
      font-weight: 800;
      font-size: 22px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--primary-grey-color);
   
  }
  .order{
    height: 650px;
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.1), rgba(46, 47, 66, 0.8)), url(../../images/background-img/divan768x436@1tab.jpg);

    }
    .price-calc {
        max-width: 500px;
        top: -15%;
    }
.modal{
    top: 55%;
    min-width:25vh;
    max-height: 80vh;
    padding-bottom: 20px;
}


/* --------Про нас------- */
.aboutus-text{
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.5), rgba(46, 47, 66, 2)), url(../../images/background-img/about768x436@1tab.jpg);
    /* height: 500px; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    text-align: justify;
    display: flex;
      flex-direction: column;
  }
  .aboutus-title,
  .aboutus-feedback,
  .aboutus-map{
    max-width: 768px;
      margin: 0 auto;
    
      }
 .aboutus-title>h2,
 .aboutus-feedback>h2{
    padding-top: 15px;
    margin-bottom: 15px;
}
.aboutus-title-text{
  text-align: center;
}
.details>p:not(:last-child) {
  margin-bottom: 10px;
}

  .slick-track>li{
    margin-left: 20px;
  }


}