:root {
    --primary-black-color: #2e2f42;
    --hero-black-color: #2f303a;
    --hero-grey-color: rgba(46, 47, 66, 0.7);
    --primary-text-color: #2e2f42;
    --primary-button-color:#FFC107;
    --title-text-color: #212121;
    --accent-color: #045c5adb;
    --active-button-color: darkcyan;
    --primary-white-color: #ffffff;
    --background-modal-color:#f1ebd9;
    --background-under-icon-darkwhite: #f4f4fd;
    --primary-grey-color: #434455;
    --solid-white-color: #eeeeee;
    --border-white-color: #ececec;
    --primary-icon-color: #8e8f99;
    --text-color-footer: #e7e9fc;
    --contacts-text-color: #434455;
    --text-color-placeholder: rgba(117, 117, 117, 0.5);
    --card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    --card-shadow-portfolio: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --shadow-form-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --card-projects-portfolio: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --mobile-menu-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    --project-item-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-overlay-color: rgba(33, 150, 243, 0.9);
    --box-overlay-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --border-form-order: 1px solid rgba(33, 33, 33, 0.2);
    --transition-speed: 800ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  body {
    font-family: Roboto, sans-serif, Raleway;
    /* background-color: var(--border-white-color);
    color: var(--primary-black-color); */
    /* letter-spacing: 0.3em; */
    font-size: 14px;
    font-style: normal;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  ul,
  li,
  a,
  p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  
  img {
    display: block;
  }



  @media screen and (min-width: 1200px) {
main{
    margin-top: 75px;
}
/* ----------Modal window---------------- */
.modal {
    padding-top: 40px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background: var(--background-modal-color);
    box-shadow: var(--card-shadow);
    min-width: auto;
    max-height: none;
    overflow-y: visible;
}
.form-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 17px;
}
.btn-submit {
    margin-top: 50px;
}
.checkbox-label {
    margin-top: 30px;
    margin-bottom: 20px;
}


    /* -----Header---- */
    .header{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container-header{
        justify-content: normal;
        align-items: center; /* Выравнивание по вертикали по центру */
padding: 0px 30px;
    }

    .logo {
        margin-right: 10%; /* Это поместит логотип в крайнее левое положение */
    }
    .services {
        display: flex;
        gap: 70px;
        align-items: center; /* Это поместит группу элементов по центру */
        padding-right:0;
    }
    .tel{
        margin: 0;
    }
    .services .tel{
         display:block;

    }

    .hero {
        position: relative;
        background-repeat: no-repeat;
        height: 800px;
        max-width: 1440px;
        margin: 0 auto;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.8), rgba(46, 47, 66, 0.4)), url(../../images/background-img/interior1440x800@1pc.jpg);
      
      }
      .hero-container {
        max-width: 768px;
        padding: 0 16px;
        margin: 0 auto;
        position: absolute; /* Позиционирование абсолютно внутри родительского блока */
        top: 20%; /* Размещение блока на вертикальном центре секции */
        line-height: 1.3;
        transform: translateX(25%);
        text-align: center; 
      }
      .hero h1 {
        color: var(--primary-white-color); 
        font-size: 56px; 
        font-weight: 600;
        margin-bottom: 20px;
      }
      .hero h2 {
        color: var(--primary-white-color); 
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 20px;
      }
/* --section benefits---чому ми----- */
.benefits{
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    background-color: var(--primary-white-color); 
  }
  .benefits-container{
    /* margin-left: auto;
    margin-right: auto;
    /* padding-right: 16px;
    padding-left: 16px; */
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: center; 
  } 
  .qualities{
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* gap: 24px; */
    padding: 0;
  }
  .double-icons{
    display: contents;
    
}
  /* ----Портфоліо---Slick slider--- */
  .background-portfolio{
    max-width: 1200px;
       margin:0 auto;
}



/* -------------переваги нашої роботи---Section aboutus -----------------*/
.aboutus{
    padding-bottom: 30px;
	padding-top: 30px;
}
.aboutus-container{
    max-width: 1440px;
    	margin:0 auto;
        padding-left: 10px;
        padding-right: 10px;
}
.details>p {
    margin-bottom: 20px;
}
/*----------footer-------------*/
.callback-footer.service{
    display: none;
}
.footer-tel{
    margin-top: 0;
    /* margin-bottom: 40px; */
    display: flex;
    flex-direction: row;
     align-content: space-around;
     align-items: center;
     gap: 45px;
}
.footer-tel>li{
  margin-bottom: 0;
}
/* .address{
    margin-top: 20px;
    margin-bottom: 10px;
} */
.menu-social-list{
    /* display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; */
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
}
.menu-social-list.footer-menu{
margin-left:50px;
  padding-right: 0;
  gap: 20px;
}
  .footer-container{
    padding: 25px 15px 0px 15px;
  }
  .author{
    padding-right: 30px;
  }
    /* -----------Services-------Послуги--- */
    .service-list{
        max-width: 1440px;
     }
    
    .service-card{
        display: flex;
        align-items: center;
        gap:40px;
        max-width: 1400px;
       }
       .service-title>p {
               font-size: 20px;
            
      }
       .service-img img {
        width:400px;
    }
       .service-title{
        padding: 50px;
        width: 500px;
      }
      .service-list-title{
        margin-top: 20px;
      }
      .benefits-title,
      .portfolio-title,
      .service-list-title,
      .aboutus-title{
          text-align: center;
          font-weight: 800;
          font-size: 22px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: var(--primary-grey-color);
          margin-bottom: 20px;
      }
      .service-list-title{
        margin-bottom: 0;
      }
      .order{
        max-width: 1440px;
      margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.1), rgba(46, 47, 66, 0.8)), url(../../images/background-img/artisan-g5ea74e9bb_1280.jpg);
      }
      .order-title{
        color:var(--primary-white-color);
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 40px;
      }
      .price-calc {
        max-width: 600px;
        top:-5%;
    }

      .upload-block{
        gap: 20px;
      }
      .upload-block>p{
        font-size: 30px;
      }

      /* =====Jobs gallery----Наші роботи=========*/
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap:20px; 
}

/* --------Про нас------- */
.aboutus-bg{
    padding-bottom: 10px;
  }

.aboutus-text{
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.5), rgba(46, 47, 66, 2)), url(../../images/background-img/sofabuyingadvice-1024x512.webp);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    text-align: justify;
    display: flex;
      flex-direction: column;
  }
  .aboutus-title,
  .aboutus-feedback,
  .aboutus-map{
    max-width: 1440px;
      margin: 0 auto;
 }
      .aboutus-text-1,
      .aboutus-text-2,
      .aboutus-text-3{
      margin-bottom: 30px;
}
      .feedback-img{
        max-width: 650px;
        margin:0 auto;
    }
    .aboutus-title,
    .aboutus-feedback>h2{
    text-align: center;
        font-weight: 800;
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-grey-color);

      }
      .aboutus-title-text{
        margin-bottom: 20px;
        text-align: center;
        font-weight: 800;
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-grey-color);
      }
      .aboutus{
        background-color: var(--background-under-icon-darkwhite);
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .slick-slide{
        margin-left: 30px;
      }
      .slick-track>li{
        margin-left: 20px;
      }
}